*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px !important;
}

body {
  font-family: 'Nunito', 'Open Sans', sans-serif !important;
  font-weight: 400;
  color: $color-black;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
