._1NKDf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._2wQwb:not(:last-child) {
  margin-bottom: 16px;
}
._3Tjml {
  border-left: 2px solid #30c5f7;
  margin-left: -16px;
  padding-left: 14px;
}
.tab-cart{
width: auto;
min-height: 250px;
}
.-TgC7,
._12opg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.-TgC7 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.r-nsbfu8{
  padding: 16px;
}
/*# sourceMappingURL=75-d35dafd1bd6aaf5a174d.css.map*/
