._10ZkQ {
  margin: 16px 0;
}
._10ZkQ:first-child {
  margin-top: 0;
}
._10ZkQ:last-child {
  margin-bottom: 0;
}
._10ZkQ + hr {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 16px;
}
._1CMmO {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._1CMmO._1HGn1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
._1ZBvW {
  display: block;
  border-radius: 4px;
  vertical-align:top;
  width: 44px;
  height: 44px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
._1ZBvW._2hajE {
  border-radius: 4px;
  background-size: cover;
}
._1ZBvW + div,
.OMkfM > div {
  display: inline-block;
}
._1ZBvW + div {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 16px;
}
._1HGn1 ._1ZBvW + div {
  padding-right: 16px;
  padding-left: 0;
}
._1ZBvW img {
  max-height: 40px;
  max-width: 48px;
  vertical-align: top;
}
.OMkfM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.OMkfM > div {
  padding: 0 12px;
}
.OMkfM.fNyzk > div {
  padding: 0 8px;
}
.OMkfM > div:first-child {
  padding-left: 0;
}
.OMkfM > div:last-child {
  padding-right: 0;
}
.OMkfM ._1m9Ud {
  -ms-flex-item-align: center;
  align-self: center;
}
.OMkfM ._3Hkm2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffc412;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
.OMkfM ._3Hkm2._8Yf_q {
  background: #1ba0e2;
}
.OMkfM .n4VYU {
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #687176;
  padding: 0 6px;
  background: #f2f3f3;
  border-radius: 4px;
}
.h5P8G {
  vertical-align: text-top;
  margin-left: 8px;
}
._3HQV4,
._3N82Y {
  display: inline-block;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 16px;
  border-radius: 4px;
}
._3HQV4 {
  width: 106px;
  height: 106px;
}
._3N82Y {
  width: 80px;
  height: 80px;
}
._3HQV4 + div,
._3N82Y + div {
  display: inline-block;
  vertical-align: top;
}
._3HQV4 + div {
  max-width: calc(100% - 122px);
}
._3N82Y + div {
  max-width: calc(100% - 96px);
}
._2ZEGO {
  background-color: #ececec;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 6px;
}
.dqKyR {
  margin-left: -4px;
}
.dqKyR ._2BXHt {
  color: #1ba0e2;
}
._10ocO {
  display: inline-block;
}
._3zRZL {
  position: relative;
  padding-left: 21px;
}
._3zRZL .svg-icons,
._3zRZL svg {
  position: absolute;
  left: 0;
  top: 3px;
}
._3zRZL .svg-icons,
._3zRZL svg,
.dqKyR .svg-icons,
.dqKyR svg {
  margin-right: 4px;
  vertical-align: text-top;
}
._37j58 {
  color: #b4b4b4;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  position: relative;
}
._37j58:not(:first-child) {
  margin-left: 16px;
}
._37j58 > img {
  height: 14px;
  position: relative;
  top: 2px;
  width: auto;
  margin-right: 4px;
}
._1oNfN {
  margin-top: 8px;
}
._2dbEK {
  margin-bottom: 8px;
}
._1wUZa {
  display: inline-block;
  margin: 0 16px 8px 0;
  white-space: nowrap;
}
._1wUZa .svg-icons,
._1wUZa svg {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  margin-right: 4px;
}
._1wUZa svg > g > [fill-rule],
._1wUZa svg > path {
  fill: currentColor;
}
._1wUZa svg > g > [stroke-width] {
  stroke: currentColor;
}
._3AtUV {
  padding: 3px;
  border: 1px solid #687176;
  border-radius: 25px;
  color: #687176;
}
._3Ec21 {
  margin-bottom: 16px;
}
._1BH3r {
  padding-bottom: 16px;
}
.bLoZg {
  padding-top: 16px;
}
._1N4Vc {
  padding-bottom: 16px;
}
._1N4Vc:last-child {
  padding-bottom: 0;
}
.aX9RM {
  margin-bottom: 10px;
}
._3liXK {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
  padding-left: 3px;
}
.gy5CW {
  width: 860px;
  min-width: 860px;
}
.hnswR {
  padding: 8px 0 0 8px;
  position: relative;
}

/*# sourceMappingURL=81-64724d9d0c2330295351.css.map*/
