/* @font-face {
  font-family: MuseoSans-900;
  src: url(../css/fonts/MuseoSans900/MuseoSans900-fa62fc96f48d8c1576ceb37476e8bc92.eot);
  src: url(../css/fonts/MuseoSans900/MuseoSans900-fa62fc96f48d8c1576ceb37476e8bc92.eot?#iefix)
      format("embedded-opentype"),
    url(../css/fonts/MuseoSans900/MuseoSans900-d50cc53bf1296331bc88855604337bed.woff2)
      format("woff2"),
    url(../css/fonts/MuseoSans900/MuseoSans900-ae54542b07a7e61c8dd4e312aa8f9cef.woff)
      format("woff"),
    url(../css/fonts/MuseoSans900/MuseoSans900-1a358f4458696193bed0c4070166f52a.ttf)
      format("truetype"),
    url(../css/fonts/MuseoSans900/MuseoSans900-46661d6d65debc63884004fed6e37e5c.svg#museo_sans900)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: MuseoSans-300;
  src: url(../css/fonts/MuseoSans300/MuseoSans300-db9dceebf1bfe5f24fe18640b1b9b4aa.eot);
  src: url(../css/fonts/MuseoSans300/MuseoSans300-db9dceebf1bfe5f24fe18640b1b9b4aa.eot?#iefix)
      format("embedded-opentype"),
    url(../css/fonts/MuseoSans300/MuseoSans300-b4fb17d8e5f5fcff2224b39e458d0f11.woff2)
      format("woff2"),
    url(../css/fonts/MuseoSans300/MuseoSans300-e8bbda10393938b6c27059fdf08efdbd.woff)
      format("woff"),
    url(../css/fonts/MuseoSans300/MuseoSans300-30c419fdb275d1a26c6358c33e17c719.ttf)
      format("truetype"),
    url(../css/fonts/MuseoSans300/MuseoSans300-46661d6d65debc63884004fed6e37e5c.svg#museo_sans300)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: MuseoSans-500;
  src: url(../css/fonts/MuseoSans500/MuseoSans500-6d393e43fd957c3fbf07ca421fe98143.eot);
  src: url(../css/fonts/MuseoSans500/MuseoSans500-6d393e43fd957c3fbf07ca421fe98143.eot?#iefix)
      format("embedded-opentype"),
    url(../css/fonts/MuseoSans500/MuseoSans500-5024002329ddd97b9e5416fcb3840997.woff2)
      format("woff2"),
    url(../css/fonts/MuseoSans500/MuseoSans500-f700d980817210d2aed150e9fe9024ad.woff)
      format("woff"),
    url(../css/fonts/MuseoSans500/MuseoSans500-800795147bf5d888a953eb6918f85708.ttf)
      format("truetype"),
    url(../css/fonts/MuseoSans500/MuseoSans500-46661d6d65debc63884004fed6e37e5c.svg#museo_sans500)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: MuseoSans;
  src: url(../css/fonts/MuseoSans100/MuseoSans100-c8fea0b64a2dc9ccc035c57e9fddc805.eot);
  src: url(../css/fonts/MuseoSans100/MuseoSans100-c8fea0b64a2dc9ccc035c57e9fddc805.eot?#iefix)
      format("embedded-opentype"),
    url(../css/fonts/MuseoSans100/MuseoSans100-3e494143c15122c164b9a664378966a5.woff2)
      format("woff2"),
    url(../css/fonts/MuseoSans100/MuseoSans100-b37b03d9da45dc0dc91bf521fb7abcfb.woff)
      format("woff"),
    url(../css/fonts/MuseoSans100/MuseoSans100-f77667b25e98dc7af233c0644783698b.ttf)
      format("truetype"),
    url(../css/fonts/MuseoSans100/MuseoSans100-46661d6d65debc63884004fed6e37e5c.svg#MuseoSans100)
      format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: MuseoSans;
  src: url(../css/fonts/MuseoSans300/MuseoSans300-db9dceebf1bfe5f24fe18640b1b9b4aa.eot);
  src: url(../css/fonts/MuseoSans300/MuseoSans300-db9dceebf1bfe5f24fe18640b1b9b4aa.eot?#iefix)
      format("embedded-opentype"),
    url(../css/fonts/MuseoSans300/MuseoSans300-b4fb17d8e5f5fcff2224b39e458d0f11.woff2)
      format("woff2"),
    url(../css/fonts/MuseoSans300/MuseoSans300-e8bbda10393938b6c27059fdf08efdbd.woff)
      format("woff"),
    url(../css/fonts/MuseoSans300/MuseoSans300-30c419fdb275d1a26c6358c33e17c719.ttf)
      format("truetype"),
    url(../css/fonts/MuseoSans300/MuseoSans300-46661d6d65debc63884004fed6e37e5c.svg#MuseoSans300)
      format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: MuseoSans;
  src: url(../css/fonts/MuseoSans500/MuseoSans500-6d393e43fd957c3fbf07ca421fe98143.eot);
  src: url(../css/fonts/MuseoSans500/MuseoSans500-6d393e43fd957c3fbf07ca421fe98143.eot?#iefix)
      format("embedded-opentype"),
    url(../css/fonts/MuseoSans500/MuseoSans500-5024002329ddd97b9e5416fcb3840997.woff2)
      format("woff2"),
    url(../css/fonts/MuseoSans500/MuseoSans500-f700d980817210d2aed150e9fe9024ad.woff)
      format("woff"),
    url(../css/fonts/MuseoSans500/MuseoSans500-800795147bf5d888a953eb6918f85708.ttf)
      format("truetype"),
    url(../css/fonts/MuseoSans500/MuseoSans500-46661d6d65debc63884004fed6e37e5c.svg#MuseoSans500)
      format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: MuseoSans;
  src: url(../css/fonts/MuseoSans700/MuseoSans700-c975965a016be2af822b0d21829cc13e.eot);
  src: url(../css/fonts/MuseoSans700/MuseoSans700-c975965a016be2af822b0d21829cc13e.eot?#iefix)
      format("embedded-opentype"),
    url(../css/fonts/MuseoSans700/MuseoSans700-d16991a0d28821e10e461156a9fc319e.woff2)
      format("woff2"),
    url(../css/fonts/MuseoSans700/MuseoSans700-88f423ceb61a3ae4bae515160ac15c4c.woff)
      format("woff"),
    url(../css/fonts/MuseoSans700/MuseoSans700-7df80f7c3dce10c92940be374898caa5.ttf)
      format("truetype"),
    url(../css/fonts/MuseoSans700/MuseoSans700-46661d6d65debc63884004fed6e37e5c.svg#MuseoSans700)
      format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: MuseoSans;
  src: url(../css/fonts/MuseoSans900/MuseoSans900-fa62fc96f48d8c1576ceb37476e8bc92.eot);
  src: url(../css/fonts/MuseoSans900/MuseoSans900-fa62fc96f48d8c1576ceb37476e8bc92.eot?#iefix)
      format("embedded-opentype"),
    url(../css/fonts/MuseoSans900/MuseoSans900-d50cc53bf1296331bc88855604337bed.woff2)
      format("woff2"),
    url(../css/fonts/MuseoSans900/MuseoSans900-ae54542b07a7e61c8dd4e312aa8f9cef.woff)
      format("woff"),
    url(../css/fonts/MuseoSans900/MuseoSans900-1a358f4458696193bed0c4070166f52a.ttf)
      format("truetype"),
    url(../css/fonts/MuseoSans900/MuseoSans900-46661d6d65debc63884004fed6e37e5c.svg#MuseoSans900)
      format("svg");
  font-weight: 900;
  font-style: normal;
} */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #e6eaed !important;
  font-family: MuseoSans, sans-serif;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.desktopV3 {
  box-sizing: border-box;
  color: #434343;
  font-family: MuseoSans, sans-serif;
  font-weight: 300;
}
.desktopV3 *,
.desktopV3 :after,
.desktopV3 :before {
  box-sizing: inherit;
}
.desktopV3 p {
  color: inherit;
}
.desktopV3 a {
  cursor: pointer;
  color: #0770cd;
  text-decoration: none;
  transition: all 0.3s ease;
}
.desktopV3 a:hover {
  color: #1ba0e2;
}
.desktopV3 a:active,
.desktopV3 a:focus {
  color: #0770cd;
}
.desktopV3 b,
.desktopV3 strong {
  font-weight: 500;
}
.desktopV3 button,
.desktopV3 input,
.desktopV3 label,
.desktopV3 select,
.desktopV3 textarea {
  font-family: inherit;
}
#desktop-topbar {
  height: 88px;
  transition: height 0.2s ease;
}
@media screen and (max-width: 1240px) {
  #desktop-topbar {
    height: 102px;
  }
}
@media screen and (max-width: 996px) {
  #desktop-topbar {
    height: 97px;
  }
}
@media screen and (max-width: 940px) {
  #desktop-topbar {
    height: 82px;
  }
}
.desktopV3 input {
  height: auto;
}
.titleprebooking{
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(27 27 27 / 10%);
}
#generalError {
  display: none;
}
#floating-cs-info {
  background-color: #1ba0e2;
  color: #fff;
  cursor: default;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 60px;
  padding: 10px;
  position: absolute;
  width: 180px;
  z-index: 0;
}
.footer-24-hour-small {
  /*background: url(../images/desktop/sprite/traveloka-main-559a099f2fff786fdcb1e6eadd78186b.png)
    no-repeat -155px -448px;*/
  background-size: 312px 725px;
  float: left;
  height: 29px;
  margin-right: 5px;
  width: 29px;
}
.footer-empty-24-hour {
  /* background: url(../images/desktop/assets/empty-24-hour-0239b2d322c08e0343602a83fee86daf.png) 
    no-repeat;*/
  width: 54px;
  height: 55px;
  float: left;
  margin-right: 5px;
  position: relative;
  background-size: cover;
}
.footer-empty-24-hour.small {
  width: 29px;
  height: 29px;
  background-size: 29px;
}
.footer-empty-24-hour .hour {
  position: absolute;
  font-size: 9px;
  bottom: 10px;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-empty-24-hour.small .hour {
  font-size: 5px;
  bottom: 6px;
  text-align: center;
}
#floating-cs-info p {
  line-height: normal;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #fff;
}
#floating-cs-info strong {
  font-weight: 700;
}
#floating-help {
  padding: 15px;
  background: #0770cd;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 50px;
  text-decoration: none;
  z-index: 99;
}
#floating-help:hover {
  background: #1694dc;
}
#floating-help:hover .question-icon {
  color: #1694dc;
}
#floating-help .question-icon {
  color: #0770cd;
  border-radius: 50%;
  background: #fff;
  height: 1em;
  width: 1em;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
._3WtJs {
  position: fixed;
  right: 16px;
  bottom: 16px;
  max-width: 250px;
  z-index: 21;
}
._3WtJs ._3Ew8V {
  display: block;
  background-color: #0770cd;
  padding: 12px 16px;
  line-height: 24px;
  font-size: 16px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(27, 27, 27, 0.2),
    0 16px 24px 0 rgba(27, 27, 27, 0.2);
  box-shadow: 0 4px 8px 0 rgba(27, 27, 27, 0.2),
    0 16px 24px 0 rgba(27, 27, 27, 0.2);
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
._3WtJs.Bl_Lt ._3Ew8V {
  background-color: #b8bbbd;
  color: #797979;
}
._3WtJs.Bl_Lt ._3Ew8V:hover {
  background-color: #ddd;
  color: #797979;
}
._3WtJs ._3Ew8V > .svg-icons,
._3WtJs ._3Ew8V > svg {
  vertical-align: text-top;
  margin-right: 8px;
}
._3WtJs ._3Ew8V > .svg-icons ~ .svg-icons,
._3WtJs ._3Ew8V > svg ~ svg {
  margin-right: 0;
  margin-top: 6px;
  float: right;
  vertical-align: baseline;
}
._3WtJs ._3Ew8V:hover {
  background-color: #007ce8;
  color: #fff;
}
._3WtJs.lakO0 ._3Ew8V {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
._3WtJs.lakO0 ._3RErR {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #0194f3;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 16px;
  color: #fff;
  font-weight: 700;
}
._3RErR a {
  text-decoration: none;
  color: inherit !important;
}
._3CJjo {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
._3WtJs.lakO0.Bl_Lt ._3RErR {
  background-color: #cdd0d1;
  color: #354148;
}
._3WtJs.lakO0 ._3RErR > span {
  font-size: 9px;
  line-height: 14px;
  color: #ecf8ff;
  display: block;
  font-weight: 500;
}
._3WtJs.lakO0.Bl_Lt ._3RErR > span {
  color: #687176;
}
._3-19r {
  cursor: pointer;
}
._3WtJs ._3Ew8V,
._3WtJs.lakO0 ._3RErR {
  position: relative;
  z-index: 10;
}
._3WtJs ._1J7Ac {
  padding: 16px 8px;
}
._1Fiw_ {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
._3_EhT {
  width: 8.33333333%;
}
._28qut {
  width: 16.66666666%;
}
.qaasG {
  width: 24.99999999%;
}
._2gliN {
  width: 33.33333332%;
}
._2ChEt {
  width: 41.66666665%;
}
._1KoC- {
  width: 49.99999998%;
}
._9pWjT {
  width: 58.33333331%;
}
._12uyU {
  width: 66.66666664%;
}
.RkXSQ {
  width: 74.99999997%;
}
.sBizZ {
  width: 83.3333333%;
}
._1qHHv {
  width: 91.66666663%;
}
._jaYO {
  width: 99.99999996%;
}
._1q5vD {
  margin-left: 8.33333%;
}
._1TOCo {
  margin-left: 16.66667%;
}
.HYBWl {
  margin-left: 25%;
}
.UuqI9 {
  margin-left: 33.33333%;
}
._1qHuL {
  margin-left: 41.66667%;
}
._3Ocms {
  margin-left: 50%;
}
._3EadB {
  margin-left: 58.33333%;
}
._11m0t {
  margin-left: 66.66667%;
}
._2Ccxq {
  margin-left: 75%;
}
.inJbh {
  margin-left: 83.33333%;
}
._1JLSJ {
  margin-left: 91.66667%;
}
._3mnYX {
  margin-left: 100%;
}
._2XbV5 {
  margin: 0 auto;
  width: 960px;
}
._1axrd {
  display: block;
  width: 100%;
}
._1axrd:after {
  clear: both;
  content: "";
  display: block;
}
.mrF44 {
  background-repeat: no-repeat;
}
.mjbGg {
  background-color: #1ba0e2;
  color: #fff;
  padding-top: 24px;
}
.BcFfj {
  display: inline-block;
  vertical-align: top;
  width: 400px;
}
._3ANGa {
  background-position: -1px 0;
  width: 199px;
  height: 46px;
  display: block;
  margin-bottom: 32px;
}
._1FU-2 {
  display: table;
  font-size: 14px;
  height: 47px;
  margin-bottom: 24px;
  padding-left: 54px;
  position: relative;
}
._2920Z {
  background-position: 0 -68px;
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 44px;
}
._1-UmS {
  font-size: 12px;
  margin-top: 8px;
}
._2QWPC {
  font-size: 12px;
  font-weight: 900;
}
._2i-7x {
  display: table;
}
._2fkBy {
  background-position: -1px -133px;
  display: block;
  height: 34px;
  margin-right: 8px;
  width: 138px;
}
._5Knu- {
  background-position: -157px -133px;
  display: table-cell;
  height: 31px;
  width: 51px;
}
.FR-_Q {
  display: inline-block;
  width: 560px;
}
.rIhc1 {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 24px;
  margin-top: 16px;
}
._2Vl1Z {
  background-position: -54px -55px;
  margin-bottom: 10px;
}
._2Vl1Z,
._245L4 {
  display: block;
  height: 33px;
  width: 100px;
}
._245L4 {
  background-position: -54px -93px;
}
._2k1GE + ._2k1GE {
  margin-top: 8px;
}
._2k1GE > a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
._2k1GE > a:hover {
  color: #fff;
  opacity: 0.6;
  text-decoration: underline;
}
._3aYv8 {
  border-top: 1px solid hsla(0, 0%, 100%, 0.15);
  font-size: 14px;
  margin-top: 40px;
  padding: 24px 0;
}
._3aYv8 .BcFfj {
  vertical-align: middle;
}
._4XPA5 {
  text-align: right;
}
._2R5fN {
  margin-right: 8px;
}
._2R5fN,
._11nJ2 {
  vertical-align: middle;
}
._11nJ2 {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  width: 25px;
}
._2Vl1Z:hover,
._5Knu-:hover,
._11nJ2:hover,
._245L4:hover {
  opacity: 0.6;
}
._11nJ2 + ._11nJ2 {
  margin-left: 8px;
}
._23h-o {
  background-position: -166px -97px;
}
._3x5Qc {
  background-position: -196px -97px;
}
._2zRdP {
  background-position: -224px -97px;
}
.vHYrd {
  background-position: -253px -97px;
}
.dicYa {
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 230px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._2WPOl {
  margin-right: 4px;
}
._1gb9i {
  color: #fff;
}
._2UFiP {
  color: #fff;
  background: #1b1b1b;
  display: block;
  width: 100%;
  min-width: 608px;
  padding: 56px 0 72px;
  -webkit-font-smoothing: antialiased;
}
._2UFiP,
._2UFiP * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
._1Og_U {
  margin: 0 auto;
}
._1Og_U > ._3tosd > ._1AXWq:first-child {
  margin-bottom: 30px;
  min-width: 278px;
}
._1Og_U > ._3tosd > ._1AXWq:last-child {
  margin-top: -80px;
  padding-bottom: 100px;
  min-width: 360px;
}
@media screen and (max-width: 850px) {
  .Ucqdu {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  ._1Og_U > ._3tosd > ._1AXWq:last-child {
    margin-top: 0 !important;
  }
  ._1Og_U > ._3tosd > ._1AXWq {
    width: 100%;
  }
  ._2T-Qi {
    float: right;
  }
  ._1_TDs {
    margin-top: 0 !important;
  }
}
._3tosd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Ucqdu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
a.giTmB {
  color: #fff;
  line-height: 24px;
  margin-bottom: 8px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  opacity: 0.65;
  -webkit-transition: none;
  transition: none;
}
a.giTmB:hover {
  color: #fff;
  opacity: 1;
  text-decoration: underline;
}
._1AXWq {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.NhSyP {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}
._3oPMa {
  margin-top: -25px;
}
._3ptxq {
  font-size: 12px;
  line-height: 16px;
}
.PcLAx {
  min-height: 48px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.ZQ3xD {
  margin-top: 4px;
  font-weight: 700;
  font-size: 16px;
  width: 195px;
  white-space: nowrap;
}
.ZQ3xD a {
  color: inherit;
}
._1_TDs {
  margin-top: 24px;
}
._1_TDs img {
  margin-right: 16px;
  margin-bottom: 10px;
  height: 35px;
}
._3XEIj {
  width: 64px;
  height: 48px;
  display: inline-block;
  margin: 0 8px 8px 0;
  position: relative;
  vertical-align: middle;
  text-align: center;
  background: #fff;
  border-radius: 4px;
}
._3XEIj img {
  max-width: 80%;
  max-height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.giTmB .svg-icons,
.giTmB svg {
  vertical-align: middle;
  margin: 0 5px 5px 0;
}
.EP8nD {
  margin-top: 36px;
}
._1P7MI {
  padding: 24px 24px 5px;
  font-size: 14px;
  line-height: 24px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  text-align: center;
  font-weight: 500;
}
._2QLit {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 8px;
}
._2ZPU6:hover path {
  fill: #3b5998;
}
._2BUgJ:hover path {
  fill: #00b0ed;
}
._15nty:hover path {
  fill: #cd486b;
}
._2vgGT:hover path {
  fill: red;
}
._2vgGT:hover polygon {
  fill: #fff;
}
._1MlOC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
._1MlOC ._1MlOC,
._1MlOC._1nvUc {
  margin-left: -8px;
  margin-right: -8px;
}
._1MlOC._1nvUc.Y8w2f,
._1MlOC.Y8w2f,
._1MlOC.Y8w2f ._1MlOC {
  margin-left: 0;
  margin-right: 0;
}
._1nKD- {
  padding-left: 12px;
  padding-right: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
._1MlOC ._1MlOC > ._1nKD-,
._1MlOC._1nvUc > ._1nKD- {
  padding-left: 8px;
  padding-right: 8px;
}
._2eNEP {
  width: 8.33333%;
}
._3WxG3 {
  margin-left: 8.33333%;
}
._15cOD {
  width: 16.66667%;
}
._22-ec {
  margin-left: 16.66667%;
}
._26_9g {
  width: 25%;
}
._3z6E0 {
  margin-left: 25%;
}
._1bH2V {
  width: 33.33333%;
}
.D7ir0 {
  margin-left: 33.33333%;
}
.gxDGS {
  width: 41.66667%;
}
._1WOBa {
  margin-left: 41.66667%;
}
.JpyYd {
  width: 50%;
}
._14Wel {
  margin-left: 50%;
}
._3BYj3 {
  width: 58.33333%;
}
._2-lIg {
  margin-left: 58.33333%;
}
._3S5NV {
  width: 66.66667%;
}
.FbQnB {
  margin-left: 66.66667%;
}
._2xVoK {
  width: 75%;
}
.cZtAZ {
  margin-left: 75%;
}
._2p_nt {
  width: 83.33333%;
}
._1pYfP {
  margin-left: 83.33333%;
}
._2ylM8 {
  width: 91.66667%;
}
.EReRi {
  margin-left: 91.66667%;
}
._13--o {
  width: 100%;
}
._2byUK {
  margin-left: 100%;
}

/*# sourceMappingURL=common-desktop-v3-6765aad05a6a6e2d7c85.css.map*/
